.navbar.navbar-inverse {
    background-color: white;
    border-color: #ff6600;
}
.navbar-inverse .navbar-brand {
  color:#ff6600;
}
.navbar-inverse .navbar-brand:hover {
  color:#483e37;
}
.navbar-inverse .navbar-nav>li>a {
  color:#483e37;
}
.navbar-inverse .navbar-nav>li>a:hover {
  color:#ff6600;
}
.navbar-inverse .navbar-nav>.active>a{
  color:white;
  background-color:#ff6600;
}
