{% extends 'base.html.twig' %}

{% block title %}
        {{ 'ftp.account'|trans }}
{% endblock %}


{% block body %}
<div class="page-header">
  <h1>{{ 'ftp.account'|trans }}</h1>
</div>
{% endblock %}
