{% extends 'base.html.twig' %}

{% block title %}
        Overview
{% endblock %}


{% block body %}
<div class="page-header">
  <h1>{{ 'welcome'|trans }} {{ app.user.fullname }}</h1>
</div>
{% endblock %}
