{% extends 'base.html.twig' %}

{% block title %}
        {{ 'overview'|trans }}
{% endblock %}


{% block body %}
<div class="page-header">
  <h1>{{ 'msg.welcome'|trans }} {{ app.user.fullname }}</h1>
</div>
{% endblock %}
