<h1 faf-tr="cust.settings"></h1>

<h2 faf-tr="cust.personal_settings"></h2>
  <form class="form-inline">
  	<div class="form-group">
  		<div class="input-group">
  			<div class="input-group-addon" faf-tr="cust.name"></div>
  			<input ng-model="customer.name" type="text" class="form-control" id="iban_input" placeholder="IBAN">
  		</div><br /><br />
  	  <div class="input-group">
  			<div class="input-group-addon" faf-tr="cust.total_space"></div>
  			<input ng-model="customer.total_space" type="text" class="form-control" id="vat_input" placeholder="VAT">
        <div class="input-group-addon">{{ customer.total_space / 1e12 }} <span faf-tr="unit.TiB"></span></div>
  		</div>
  	</div>
  </form>


<h2 faf-tr="cust.addresses_settings"></h2>

<div ng-repeat="addr in customer.address">
  <h3 style="margin-top:30px;">{{ addr.title }}</h3>
  <form class="form-inline">
  	<div class="form-group">
  		<div class="input-group">
  			<div class="input-group-addon" faf-tr="cust.addr.iban"></div>
  			<input ng-model="addr.iban" type="text" class="form-control" id="iban_input">
  		</div><br /><br />
  	<div class="input-group">
  			<div class="input-group-addon" faf-tr="cust.addr.vat"></div>
  			<input ng-model="addr.vat_number" type="text" class="form-control" id="vat_input">
  		</div><br /><br />
		<div class="input-group">
			<div class="input-group-addon" faf-tr="cust.addr.street"></div>
			<input ng-model="addr.street" type="text" class="form-control" id="street_input">
		</div>
		<div class="input-group">
			<div class="input-group-addon" faf-tr="cust.addr.zip"></div>
			<input ng-model="addr.zip_code" type="text" class="form-control" id="zip_input" >
		</div><br /><br />
		<div class="input-group">
			<div class="input-group-addon" faf-tr="cust.addr.city"></div>
			<input ng-model="addr.city" type="text" class="form-control" id="city_input" >
		</div>
		<div class="input-group">
			<div class="input-group-addon" faf-tr="cust.addr.country"></div>
			<input ng-model="addr.country" type="text" class="form-control" id="country_input">
		</div><br /><br />
		<div class="input-group">
			<div class="input-group-addon" faf-tr="cust.addr.phone"></div>
			<input ng-model="addr.phone" type="text" class="form-control" id="phone_input">
		</div>
		<div class="input-group">
			<div class="input-group-addon" faf-tr="cust.addr.title"></div>
			<input ng-model="addr.title" type="text" class="form-control" id="title_input" >
		</div>
  	</div><br /><br />

  </form>
</div>

<br />
<button type="submit" class="btn btn-primary" ng-click="submit()">Update</button>
<button type="submit" class="btn btn-primary" ng-click="customer.address.push({'customer':customer.address[0].customer})">New address</button>
